
.header {
    display: flex;
    align-items: center;
    max-width: 1920px;
    justify-content: space-around;
    &__leftside{
        display: flex;
        align-items: center;
        gap: 20px;
        &__logo{
            transform: scale(0.7);
            filter: invert(100%);
        }
        &__title{
            font-size: 50px;
        }
    }
    &__rightside{
        &__menu{
            display: flex;
            gap: 20px;
            &__item{
                font-size: 25px;
            }
        }
    }
}