
header {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: flex-start;
    gap: 20px;
    padding: 20px;
    background-color: black;
    align-items: center;
    &__logo{
        width: 120px;
        filter: invert(100%);
    }
    &__title{
        margin-left: 30px;
        font-size: 50px;
    }
}
